.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.gallery__item {
  margin: 10px;
}

.gallery__image {
  width: 300px; /* Set a fixed width */
  height: 300px; /* Set a fixed height */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
}

/* Media query for screens smaller than 600px */
@media (max-width: 600px) {
  .gallery__image {
    width: 100%; /* Make the image fill the width of its container */
    height: auto; /* Automatically adjust the height based on the width */
  }
}
